*,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background:  white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
}

.card {
    display: flex;
    width: 760px;
    height: 530px;
    background-color: white;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
/* left part Card */
.result {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 380px;
    background: rgb(120,87,255);
    background: linear-gradient(180deg, rgba(120,87,255,1) 0%, rgba(46,43,233,1) 100%);
    height: 100%;
    border-radius: 30px;
}
.result h3 {
    color: hsl(241, 100%, 89%);
    padding-top: 20px;
    padding-bottom:40px ;
    font-size: 22px;
}
.score {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: rgb(120,87,255);
    background: linear-gradient(180deg, hsla(256, 72%, 46%, 1) 0%, hsla(241, 72%, 46%, 0) 100%);
}
h1 {
    font-size: 80px;
    color: white;
    padding: 0;
    box-sizing: border-box;
}
.score p {
    color: hsl(241, 100%, 89%);
    transform: translateY(-10px);
}
.result a {
    color: white;
    font-size: 35px;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 15px;
}
.result p {
    color: hsl(241, 100%, 89%);
    text-align: center;
    padding: 0px 50px 0px 50px;
}

/* right part Card */
.sum {
    display: flex;
    flex-direction: column;
    padding:30px;
    width: 380px;
    height:100%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
}
.sum h3 {
    padding-top: 10px;
    padding-bottom: 25px;
    color: hsl(224, 30%, 27%);
    font-size: 25px;
}

.score-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    margin:13px 0px;
    border-radius: 10px;
}
.score-list p {
    font-weight: 700;
}
.score-list.un {
    background-color: hsla(0, 100%, 67%, 0.116);
    color: hsl(0, 100%, 67%);
}
.score-list.de {
    background-color: hsl(39, 100%, 56%, 0.116);
    color: hsl(39, 100%, 56%);
}
.score-list.tr {
    background-color: hsl(166, 100%, 37%, 0.116);
    color: hsl(166, 100%, 37%);
}
.score-list.qu {
    background-color: hsl(234, 85%, 45%, 0.116);
    color: hsl(234, 85%, 45%);
}
.cat {
    font-weight: 700;
}
.score-list span{
    color: hsla(224, 30%, 27%, 0.616);
}
.note {
    color: hsl(224, 30%, 27%);
}
.score-list div{
    display: flex;
}
.score-list img{
    padding-right: 10px;
}
.co {
    background-color: hsl(224, 30%, 27%);
    width: 100%;
    height: 55px;
    text-align: center;
    padding-top: 16px;
    border-radius: 30px;
    margin-top: 40px;
}
.co a {
    color: white;
    text-decoration: none;
}
.co:hover {
    background: rgb(120,87,255);
    background: linear-gradient(180deg, rgba(120,87,255,1) 0%, rgba(46,43,233,1) 100%);
    cursor: pointer;
}

/*phone*/
@media only screen and (max-width: 770px) {
    body {
      align-items: baseline;
    }
    .card {
        flex-direction: column;
        width: 100%;
        border-radius: 0;
    }
    .sum {
        width: 100%;
        border-bottom-right-radius:0 ;
    }
    .result {
        width: 100%;
        border-top-right-radius:0 ;
        border-top-left-radius:0 ;
    }
    .result p {
        padding-bottom: 20px;
    }
    .co {
        width: 100%;
    }
  }
